.wrapper {
  max-width: 350px;
  height: 100%;
  margin: 20px auto;
  background-color: #f7f7f9;
}

/* Navigation */
.top-nav {
  overflow: hidden;
  background-color: white;
  position: relative;
  top: 0; /* Position the navbar at the top of the page */
  display: flex;
  box-sizing: border-box;
  align-items: stretch;
  justify-content: space-between;
  border-color: transparent;
}

.toggle-nav {
  /* font-size: 40px; */
  text-decoration: none;
  font-size: 30px;
  width: 18px;
  left: 3px;
  top: 6px;
  color: #6070ff;
}

.logo {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;

  /* Primary/B400 */
  color: #6070ff;
}

/* sections */
.sections-container {
  display: flex;
  flex-direction: column;
}

/* Headline Section */
.headline-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  border-bottom-left-radius: 5rem;
  background-color: white;
  background-image: url("Resources/Background/Headline-section/header-shapes-mobile.svg");
  background-position-y: 72px;
  background-position-x: center;
  background-repeat: no-repeat;
  padding: 120px 20px;
}

.headline-description {
  margin-top: -30px;
}

.connect-title {
  margin-top: -15px;
}

/* Works Section */

.works-list {
  display: grid;
  grid-template-rows: repeat(3, auto);
  row-gap: 5.5rem;
  justify-content: center;
  padding: 7.125rem 0.5rem;
}

.works-card {
  margin-bottom: -50px;
  padding: 1rem 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 1rem;
  border: 1px solid #dfe1e6;
  background-color: white;
}

.works-card-image {
  width: 100%;
}

.works-card-subtitle {
  display: flex;
  align-items: center;
  column-gap: 2rem;
  margin: 20px 0;
}

.canopy-text {
  font-weight: bold;
  font-size: 13px;
}

.works-card-subtitle-list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: circle;
  margin: 0;
  padding: 0;
}

.works-card-subtitle-element {
  margin-right: 2rem;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;

  /* Neutrals/N100 */
  color: #7a869a;
}

.works-card-languages {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 1rem 0 1.8rem;

  /* Button / Small */
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;

  /* identical to box height, or 133% */
  letter-spacing: 0.03em;

  /* Primary/B400 */
  color: #6070ff;
}

.works-card-languages-element {
  padding: 4px 12px;
  border-radius: 8px;
  background: #ebebff;
}

/* About Myself Section */
.about-myself-section {
  padding: 7.125rem 1.5rem;
  border-top-right-radius: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: white;
}

.about-lists {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 23px 40px 23px 0;
  border-bottom: 1px solid #dfe1e6;
}

.language-element {
  width: 303px;
  height: 66.72px;
  left: 12px;
  top: 12px;

  /* Neutrals/N10 */
  background: #f7f7f9;
  border-radius: 8px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.language-icon {
  padding: 20px;
}

.purple-button {
  width: 162px;
  height: 48px;
  padding: 12px;
  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: white;

  /* Text Style */
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
}

.purple-button:hover {
  background-color: #ebebff;
}

/* Contact Section */
.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  border-top-left-radius: 5rem;
  background-color: #6070ff;
  background-image: url("Resources/Background/Contact-section/contact-form-shapes-mobile.svg");
  background-position-y: 20px;
  background-position-x: right;
  background-repeat: no-repeat;
  padding: 120px 20px;
  margin: 0.8rem 0 2.8rem;
  margin-top: -40px;
}

.contact-title {
  color: white;
}

.contact-description {
  color: white;
  margin: 0.8rem 0 2.8rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}

input {
  border-radius: 8px;
  background-color: white;
  border: 1px solid #cfd8dc;
  margin: 10px 0;
  height: 48px;
  padding: 0 1rem;
}

textarea {
  border-radius: 8px;
  background-color: white;
  border: 1px solid #cfd8dc;
  margin-top: 8px;
  padding: 1rem;
  resize: none;
}

.submit-btn {
  width: 162px;
  height: 48px;
  padding: 12px;
  color: #6070ff;
  margin: 18px 0;
  align-self: flex-start;
}

/* Text Style */
h1 {
  /* Header / 2 */
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 52px;

  /* or 130% */
  display: flex;
  align-items: center;

  /* Neutrals/N800 */
  color: #172b4d;
}

h2 {
  /* Header / 2 */
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 52px;

  /* or 130% */
  display: flex;
  align-items: center;

  /* Neutrals/N800 */
  color: #172b4d;
}

h3 {
  /* Body / 1 - Bolder */
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  /* identical to box height, or 120% */
  display: flex;
  align-items: center;
  color: #000;
}

h4 {
  /* Body / 2 - Bolder */
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  /* Primary/B300 */
  color: #7f8cff;
}

p {
  /* Body / 2 */
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;

  /* Neutrals/N600 */
  color: #344563;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

/* Connect Icons */
.connect-icons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.icons-list {
  width: 120px;
  height: 20px;
  left: 24px;
  top: 470px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

/* Style all font awesome icons */
.fa {
  font-size: 25px;
  text-decoration: none;
  color: #505f79;
}

/* Add a hover effect */
.fa:hover {
  opacity: 0.7;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
