:root {
  --main-theme: #6070ff;
}

html {
  padding: 0;
  margin: 0;
}

body {
  font-family: Poppins, sans-serif;
  background-color: #f7f7f9;
  padding: 0;
  margin: 0;
}

.wrapper {
  /* max-width: 350px; */
  position: relative;
  background-color: #f7f7f9;
  padding: 0;
}

/* Navigation */
header {
  background-color: white;
  position: relative;
  top: 0; /* Position the navbar at the top of the page */
  display: flex;
  padding: 1rem 1.5rem;
  box-sizing: border-box;
  align-items: baseline;
  justify-items: baseline;
  border-color: transparent;
}

nav {
  position: relative;
  display: flex;
  box-sizing: border-box;
  align-items: stretch;
  justify-content: space-between;
}

.nav-menu {
  gap: 25px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.nav-bar-link {
  color: #344563;
}

.nav-bar-link:hover {
  opacity: 0.7;
}

.toggle-nav {
  /* font-size: 40px; */
  text-decoration: none;
  font-size: 30px;
  color: #6070ff;
}

.logo {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;

  /* Primary/B400 */
  color: #6070ff;
}

/* sections */
.sections-container {
  display: flex;
  flex-direction: column;
}

/* Headline Section */
.headline-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  border-bottom-left-radius: 5rem;
  background-color: white;
  background-repeat: no-repeat;
}

@media (min-width: 800px) {
  header {
    justify-content: space-around;
  }

  .toggle-nav {
    display: none;
  }

  .headline-section {
    height: 600px;
    padding: 2.5% 18%;
    background-image: url("Resources/Background/Headline-section/header-shapes-desktop.svg");
    background-size: 100%;
    background-position-y: 30px;
    background-position-x: center;
  }

  .works-card:nth-child(1),
  .works-card:nth-child(3) {
    flex-direction: row-reverse;
  }

  .works-card:nth-child(2),
  .works-card:nth-child(4) {
    flex-direction: row;
  }

  .works-list {
    padding: 7.125rem 4rem;
  }

  .works-card:nth-child(1),
  .works-card:nth-child(2),
  .works-card:nth-child(3),
  .works-card:nth-child(4) {
    gap: 3rem;
    align-items: center;
    max-width: 1104px;
    column-gap: 46px;
    padding: 1.5rem;
  }

  .works-card-image {
    width: 50%;
    height: 100%;
  }

  .works-card-text {
    padding: 1rem;
  }

  .about-myself-section {
    flex-direction: row;
    padding: 7.125rem 8rem;
  }

  .about-myself-description {
    width: 45%;
  }

  .about-lists {
    width: 45%;
  }

  form {
    width: 500px;
  }

  .submit-btn {
    align-self: center;
  }

  .contact-section {
    background-image: url("Resources/Background/Contact-section/contact-form-shapes-desktop.svg");
    background-size: 95%;
    background-position-y: center;
    background-position-x: center;
  }

  .contact-description {
    width: 500px;
  }
}

@media (max-width: 800px) {
  header {
    justify-content: space-between;
  }

  .nav-menu {
    display: none;
  }

  .headline-section {
    padding: 120px 20px;
    background-image: url("Resources/Background/Headline-section/header-shapes-mobile.svg");
    background-size: 100%;
    background-position-y: 30px;
    background-position-x: center;
  }

  .works-card {
    flex-direction: column;
  }

  .works-list {
    padding: 7.125rem 1rem;
  }

  .works-card-image {
    width: 100%;
  }

  .about-myself-section {
    flex-direction: column;
    padding: 7.125rem 3rem;
  }

  .about-myself-description {
    width: 100%;
  }

  .about-lists {
    width: 100%;
  }

  form {
    width: 100%;
  }

  .contact-section {
    background-image: url("Resources/Background/Contact-section/contact-form-shapes-mobile.svg");
    background-position-y: 20px;
    background-position-x: right;
  }

  .contact-description {
    width: 100%;
  }
}

.headline-description {
  margin-top: -30px;
}

.connect-title {
  margin-top: -15px;
}

/* Works Section */

.works-list {
  display: grid;
  grid-template-rows: repeat(3, auto);
  row-gap: 5.5rem;
  justify-content: center;
}

.works-card {
  margin-bottom: -50px;
  padding: 1rem 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  border: 1px solid #dfe1e6;
  background-color: white;
}

.works-card-subtitle {
  display: flex;
  align-items: center;
  column-gap: 2rem;
  margin: 20px 0;
}

.canopy-text {
  font-weight: bold;
  font-size: 13px;
}

.works-card-subtitle-list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: circle;
  margin: 0;
  padding: 0;
}

.works-card-subtitle-element {
  margin-right: 2rem;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;

  /* Neutrals/N100 */
  color: #7a869a;
}

.works-card-languages {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 1rem 0 1.8rem;

  /* Button / Small */
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;

  /* identical to box height, or 133% */
  letter-spacing: 0.03em;

  /* Primary/B400 */
  color: #6070ff;
}

.works-card-languages-element {
  padding: 4px 12px;
  border-radius: 8px;
  background: #ebebff;
}

/* About Myself Section */
.about-myself-section {
  border-top-right-radius: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  background-color: white;
}

.about-myself-description {
  align-items: flex-start;
}

.about-lists {
  display: flex;
  flex-direction: column;
}

.about-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 23px 40px 23px 0;
  width: 90%;
  border-bottom: 1px solid #dfe1e6;
}

.language-element {
  width: 90%;
  height: 66.72px;
  top: 12px;

  /* Neutrals/N10 */
  background: #f7f7f9;
  border-radius: 8px;

  /* Inside auto layout */
  order: 0;
  flex-grow: 0;
  margin: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.language-icon {
  padding: 20px;
}

.purple-button {
  width: 162px;
  height: 48px;
  padding: 12px;
  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: white;
  margin-top: 10px;

  /* Text Style */
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
}

.purple-button:hover {
  background-color: #ebebff;
}

/* Contact Section */
.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  border-top-left-radius: 5rem;
  background-color: #6070ff;
  background-repeat: no-repeat;
  padding: 0;
  margin-top: -40px;
}

.contact-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 85px 20px;
}

.contact-title {
  color: white;
}

.contact-description {
  color: white;
  margin: 0.8rem 0 2.8rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

input {
  border-radius: 8px;
  background-color: white;
  border: 1px solid #cfd8dc;
  margin: 10px 0;
  height: 48px;
  padding: 0 1rem;
}

textarea {
  font-family: Poppins, sans-serif;
  border-radius: 8px;
  background-color: white;
  border: 1px solid #cfd8dc;
  margin-top: 8px;
  padding: 1rem;
  resize: none;
}

.submit-btn {
  font-weight: bold;
  width: 162px;
  height: 48px;
  padding: 12px;
  color: #6070ff;
  margin: 18px 0;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #6370f6;
  color: white;
}

.submit-btn:active {
  background-color: #242fc7;
  color: white;
}

/* Text Style */
h1 {
  /* Header / 2 */
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 52px;

  /* or 130% */
  display: flex;
  align-items: center;

  /* Neutrals/N800 */
  color: #172b4d;
}

h2 {
  /* Header / 2 */
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 52px;

  /* or 130% */
  display: flex;
  align-items: center;

  /* Neutrals/N800 */
  color: #172b4d;
}

h3 {
  /* Body / 1 - Bolder */
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  /* identical to box height, or 120% */
  display: flex;
  align-items: center;
  color: #000;
}

h4 {
  /* Body / 2 - Bolder */
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  /* Primary/B300 */
  color: #7f8cff;
}

p {
  /* Body / 2 */
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;

  /* Neutrals/N600 */
  color: #344563;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

/* Connect Icons */
.connect-icons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.icons-list {
  width: 120px;
  height: 20px;
  left: 24px;
  top: 470px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

/* Style all font awesome icons */
.fa {
  font-size: 25px;
  text-decoration: none;
  color: #505f79;
}

/* Add a hover effect */
.fa:hover {
  opacity: 0.7;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
